//*  CONTENT
//*===========================================

img {
  display: block;
  height: auto;
  width: 100%;
}

img.alignleft, 
img.alignright {
	width: auto;
}

.afpm_logo {
	float: left;
	margin: 0 $space $space 0;
	width: 250px;
}

.bndld_logo {
	width: 250px;
}

article {}

section {}

//*  PAGE HEROS
//*===========================================

.hero__img {
	@include flex-p(
		column,
		wrap,
		center,
		center,
		center
	);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	height: 25vh;
	width: 100%;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		height: 55vh;
	}
}

body.page-id-21 .hero__img {
	background-position: center top;
}
.bloc--about {
	background-color: $grey-3;
	padding: 0;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-2) {
		@include flex-p(
			row, 
			wrap,
			space-around,
			flex-start,
			flex-start
		);
		margin: 0 auto;
	}
}

.wrap--toCols {
	@include flex-p(
		row,
		wrap,
		space-around,
		flex-start,
		flex-start
	);
	order: 2;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		@include flex-p(
		row,
		wrap,
		space-between,
		center,
		flex-start
	);
	}
}

.bloc--join {
	flex-basis: 100%;
	margin: $space-2x $space 0 $space;
	padding: 0;
	@media all and (min-width:$bp-2) {
		flex-basis: 44%;
		margin: $space-2x $space;
	}
}

.bloc--urgent {
	background: $white url('../images/job-alert-bckgrnd.png') top center/28px repeat-x;
	margin: 2rem $space-half $space-2x $space-half;
	padding: $space;
}

.bloc--srvcs, .bloc--prdcts,
.bloc--xprncs, .bloc--bis {
	@include flex-p(
		column,
		nowrap,
		flex-start,
		flex-start,
		flex-start
	);
	padding: $space-4x $space 0 $space;
	@media all and (min-width:$bp-3) {
		@include flex-p(
			row,
			wrap,
			flex-start,
			flex-start,
			flex-start
		);
	}
}

.bloc--bis {
	padding: $space-4x $space;
}

.bloc__hdln {
	flex-basis: 100%;
	width: 100%;
}

.bloc__img {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		flex-basis: 48%;
	}
}

.bloc__txt {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		flex-basis: 48%;
	}
}

.bloc--prdcts .wrap--toCols .bloc__img,
.bloc--bis .wrap--toCols .bloc__img {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		order: 3;
	}
}

.bloc--prdcts .wrap--toCols .bloc__txt,
.bloc--bis .wrap--toCols .bloc__txt {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		order: 2;
	}
}

.bloc__news {
	background-color: $grey-3;
	padding: $space;
}
.bloc__newsWrap {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-2) {
		@include flex-p(
			row,
			wrap,
			flex-start,
			flex-start,
			flex-start
		);
		max-width: 600px;
		margin: 0 auto;
	}
}

.bloc__newsXcrpt {
	margin-bottom: $space-3x;
	max-width: 800px;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-2) {
		flex-basis: 60%;
		flex-grow: 1;
		margin: $space-2x auto $space-3x auto;
	}
}


//*  INTERIOR PAGES
//*===========================================

.mainCntnt {
	padding: $space;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-6) {
		margin: 0 auto;
		max-width: $mxw;
		padding: $space 0;	
	}
}

#abt.mainCntnt { padding: $space $space 0 $space; }

.caseStudies {
	padding: $space;
	@include flex-p(
		column,
		nowrap,
		flex-start,
		flex-start,
		flex-start
	);
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		@include flex-p(
		row,
		wrap,
		space-between,
		flex-start,
		flex-start
	);
	}
	@media all and (min-width:$bp-6) {
		padding: $space 0;
	}
}

.caseStudy {
	margin: $space-2x 0 $space-4x 0; 
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		flex-basis: 48%;
	}
}

.leader-list { border-top: 1px solid $grey-3; }
.leader-list-last { border-bottom: none; }


//*  FOOTER
//*===========================================

.wrap--brckFtr {
	background-color: $color-5;
}

.brckFtr {
	
	padding: $space-2x $space;
	@include flex-p(
		row,
		wrap,
		flex-start,
		flex-start,
		flex-start
	);
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-2) {
		@include flex-p(
			row,
			wrap,
			space-between,
			flex-start,
			flex-start
		)
		margin: 0 auto;
		max-width: $mxw;
	}
	div { 
		flex-basis: 100%;
		@include transition(all,0.3s,ease);
		@media all and (min-width:$bp-2) {
			flex-basis: 48%;
			&:nth-child(3) { flex-basis: 100%; }
		}
		
		@media all and (min-width:$bp-4) {
			flex-basis: 32%;
			max-width: 400px;
			&:nth-child(3) { 
				flex-basis: 32%; 
				margin-top: 23px;
			}
		}
	}
}

//*  TEMPORARY FIXES
//*===========================================

.office-locations {
	background-color: transparent;
}

.panel-primary {
	background-color: $grey-3;
	border: none;
	box-shadow: none !important;
	min-height: 290px;
}


.brckFtr__sctLinks {
	float: left;
	margin: $space-half 0 $space 0;
	width: 50%;
}

.brckFtr__socLinks {
	margin: $space-half 0 $space-2x 0;
	width: 100%;
}

.brckFtr__legal {
	border-top: 1px solid $color-3;
}

.ajax-loader {
	height: 16px;
	width: 16px;
}

.wp-caption.alignleft {
	margin: 0 $space $space 0 !important;
}

//* LOOOOOONG CONTENT PAGES
//*===========================================

#advan {
	padding: $space-2x 0;
}

.advanCopy {
	@media all and (min-width:$bp-3) {
		column-count: 2;
		column-gap: $space-3x;
	}
}

.hrngCntr {
	.bloc--33 {
		background-color: $grey-3;
		margin-bottom: $space;
	}
	@media all and (min-width:$bp-3) {
		@include flex-p(
			row,
			wrap,
			space-evenly,
			stretch,
			stretch
		);
		.bloc--33 { 
			width: 30%;
		}
	}
}

.beneList {
	@media all and (min-width:$bp-3) {
		column-count: 3;
		column-gap: $space-2x;
	}
}

#comm {
	margin-left: -1rem; 
	width: calc(100% + 2rem);
}

.carCTAs {
	@include flex-p(
		column,
		nowrap,
		center, 
		flex-start, 
		flex-start,
	);
	@include transition(all, 0.3s, ease);
	@media all and (min-width:$bp-1) {
		@include flex-p(
			row,
			nowrap,
			center,
			flex-start,
			flex-start,
		);
	}
}

//* NEWS
//*===========================================

article.post {
	border-bottom: 1px solid $grey-3;
	margin-bottom: $space;
	.entry-meta {
		margin-bottom: $space-half;
	}
	.entry-content {
		@include transition(all, 0.3s, ease);
		@media all and (min-width:$bp-1) {
			img {
				float: left;
				margin: 0 $space $space 0;
				width: 50%;
			}
		}
	}
}

body.blog, body.single {
	.mainCntnt { 
		margin: $space-2x auto;
		max-width: 800px;
	}
}

.pagination {
	margin: 0;
}

//*  HIDE IT
//*===========================================

section[data-attr='hide'] {
	display: none;
	height: 0;
	width: 0; 
}