//*  FORM ELEMENTS
//*=========================================== 

.wpcf7-form p {
	color: $grey-1;
	font-size: 80%; 
}

fieldset {}

label {}

textarea {}

input {}

input[type="text"], input[type="tel"],
input[type="email"], textarea {
  background-color: white;
  border: 1px solid $grey-3;
  color: $black;
  padding: $space-qrtr $space-half;
  width: 100%;
}

input[type="text"] {}

input[type="radio"] {}

input[type="checkbox"] {}

button, input[type="submit"] {
	background-color: $color-3;
  border: none; 
  color: $white;
  display: table;
  font: 300 110%/1 $font-1;
  margin: 0;
  padding: $space;
  text-align: left;
  text-transform: uppercase;
  @include transition(all,0.3s,ease);
  &:hover {
    background-color: $color-4;
  }
}