//*  GLOBALS
//*===========================================

body, html {
	box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit; }

* + * {}

.clrfx:before, .clrfx:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clrfx:after { clear: both; }

.clrfx { *zoom: 1; }


//* HIDE STUFF ON LONG CONTENT TEMPLATE
//*===========================================

//* Hide all but ABOUT
body.page-id-2262 {
	#car, #exper, #cnt, 
	#menuCar, #menuExp, #menuCntct { display: none; }
}

//* Hide all but CAREERS

body.page-id-2290 {
	#abt, #exper, #cnt, 
	#menuAbt, #menuExp, #menuCntct { display: none; }
}

//* Hide all but CONTACT
body.page-id-2264 {
	#abt, #car, #exper, 
	#menuAbt, #menuExp, #menuCar { display: none; }
}

//* Hide all but EXPERIENCES
body.page-id-2299 {
	#abt, #car, #cnt, 
	#menuAbt, #menuCar, #menuCntct { display: none; }
}


//*  STRUCTURE
//*=========================================== 

html, body { 
	height: 100%;
	width: 100%;
}

.wrap {
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

@media all and (min-width:$bp-6) {
	.wrap--mxw {
		max-width: $mxw;
		margin: 0 auto;
		padding: 0;
	}
}

.content {
	max-width: $mxw;
	margin: 0 auto;
	padding: 0;
}


//*  BLOCKS
//*===========================================

.flexBloc {
	@include flex-p(
		column,
		nowrap,
		flex-start,
		flex-start,
		flex-start
	);
	margin: 0;
	width: 100%;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		@include flex-p(
	  	row,
	  	wrap,
	  	flex-start,
	  	flex-start,
	  	flex-start
	  );
	}
}

.flexBloc--img {
	@include flex-p(
		column,
		nowrap,
		flex-start,
		stretch,
		flex-start
	);
	margin: 0;
	width: 100%;
	div { min-height: 300px; }
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		@include flex-p(
	  	row,
	  	wrap,
	  	flex-start,
	  	stretch,
	  	flex-start
	  );
	}
}

.flexBloc--cs {
	@include flex-p(
		column,
		nowrap,
		flex-start,
		flex-start,
		flex-start
	);
	margin: 0;
	width: 100%;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		@include flex-p(
	  	row,
	  	wrap,
	  	space-between,
	  	stretch,
	  	flex-start
	  );
	}
}

.flexBloc--prd {
	@include flex-p(
		column,
		nowrap,
		flex-start,
		flex-start,
		flex-start
	);
	margin: 0;
	width: 100%;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		@include flex-p(
	  	row,
	  	wrap,
	  	space-between,
	  	flex-start,
	  	flex-start
	  );
	}
}

.bloc--clr {
	background-color: $color-5;
	padding: $space-2x;
	width: calc(100% + 2rem);
	margin-left: -1rem;
	margin-bottom: 0;
	@include transition(all, 0.3s, ease);
	@media all and (min-width:$bp-3) {
		padding: 0;
	}
	@media all and (min-width:$bp-6) {
		margin-bottom: 5em;
	}
}

.bloc {
	padding: $space;
	margin: 0;
	width: 100%;
}

.bloc--50 {
	width: 100%;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		padding: $space;
		width: 50%;
	}
}

.bloc--70 {
	width: 100%;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		padding: $space;
		width: 70%;
	}
}

.bloc--33 {
	width: 100%;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		width: 33.333333%;
	}
}

.bloc--30 {
	width: 100%;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		padding: $space;
		width: 30%;
	}
}

.bloc--25 {
	width: 100%;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		width: 25%;	
	}
}

.bloc--txt {
	padding: $space-2x 0;
	@include transition(all, 0.3s, ease);
	@media all and (min-width:$bp-3) {
		padding: $space-3x $space;
	}
}

.bloc--cs {
	border-bottom: 1px solid $grey-3;
	margin-bottom: $space-2x;
	padding: 0 0 $space 0;
	@include transition(all, 0.3s, ease);
	@media all and (min-width:$bp-3) {
		width: 48%;
	}
}

.bloc--join {
	flex-basis: 100%;
	margin: $space-2x $space 0 $space;
	padding: 0;
	@media all and (min-width:$bp-2) {
		flex-basis: 44%;
		margin: $space-2x $space;
	}
}

.bloc--urgent {
	background: $white url('../images/job-alert-bckgrnd.png') top center/28px repeat-x;
	margin: 2rem $space-half $space-2x $space-half;
	padding: $space;
}

.bloc--srvcs, .bloc--prdcts,
.bloc--xprncs, .bloc--bis {
	@include flex-p(
		column,
		nowrap,
		flex-start,
		flex-start,
		flex-start
	);
	padding: $space-4x $space 0 $space;
	@media all and (min-width:$bp-3) {
		@include flex-p(
			row,
			wrap,
			flex-start,
			flex-start,
			flex-start
		);
	}
}

.bloc--bis {
	padding: $space-4x $space;
}

.bloc__hdln {
	flex-basis: 100%;
	width: 100%;
}

.bloc__img {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		flex-basis: 48%;
	}
}

.bloc__txt {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		flex-basis: 48%;
	}
}

.bloc--prdcts .wrap--toCols .bloc__img,
.bloc--bis .wrap--toCols .bloc__img {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		order: 3;
	}
}

.bloc--prdcts .wrap--toCols .bloc__txt,
.bloc--bis .wrap--toCols .bloc__txt {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		order: 2;
	}
}

.bloc__news {
	background-color: $grey-3;
	padding: $space;
}
.bloc__newsWrap {
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-2) {
		@include flex-p(
			row,
			wrap,
			flex-start,
			flex-start,
			flex-start
		);
		max-width: 600px;
		margin: 0 auto;
	}
}

.bloc__newsXcrpt {
	margin-bottom: $space-3x;
	max-width: 800px;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-2) {
		flex-basis: 60%;
		flex-grow: 1;
		margin: $space-2x auto $space-3x auto;
	}
}

.bloc--prd {
	padding: $space 0 0 0;
	@include transition(all,0.3s,ease);
	@media all and (min-width:$bp-3) {
		width: 48%;
	}
}

.embed-block {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	iframe { 
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  width: 100%; 
	  height: 100%;
	}
}